html, body {
    height: 100%;
}

#app_root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    padding: 20px;

    border: 1px solid lightgray;
    box-shadow: 4px 4px 10px #f7f7f7;
}

.form * {
    margin: 20px 0;
}